{{ define "html-head" }}
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
<link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
<link rel="manifest" href="/static/site.webmanifest" />
<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#000000" />
<meta name="theme-color" content="#b8e9f4" />
<meta name="msapplication-TileColor" content="#b8e9f4" />

<link rel="preload" href="/static/styles.css" as="style" />
<link rel="modulepreload" href="/static/js/validators.js" crossorigin="anonymous" />
<link rel="stylesheet" href="/static/styles.css" />
{{ end }}
