Hi,

We received a request to reset the password for your account.
If you made this request, click the link below to continue:

{{.ResetLink}}

This link will expire in {{.ExpiryMinutes}} minutes.

If you didn't request a password reset, you can safely ignore this email.
Your password will not be changed.

--
LDAP Selfservice Password Changer
