<!doctype html>
<html lang="en" class="page-html">
  <head>
    <title>Password Changer</title>
    {{ template "html-head" }} {{ template "theme-init-script" }}
    <link rel="modulepreload" href="/static/js/app.js" crossorigin="anonymous" />
  </head>

  <body class="page-body">
    <div class="page-card" data-density="comfortable">
      {{ template "page-header" }}

      <main role="main">
        {{ template "page-title" (slice "Change Your Password" "" "Password Change Form") }}

        <form class="space-y-4" id="form" aria-label="Password change form" autocomplete="on">
          <!-- prettier-ignore -->
          {{ template "input" InputOpts "username" "Username" "text" "username" "Enter your network username (e.g., firstname.lastname)" }}
          <!-- prettier-ignore -->
          {{ template "input" InputOpts "current_password" "Current Password" "password" "current-password" "Enter your current password to verify your identity" }}
          <!-- prettier-ignore -->
          {{ template "input" InputOpts "new_password" "New Password" "password" "new-password" "Your new password must be strong and meet all security requirements shown below when you start typing" }}
          <!-- prettier-ignore -->
          {{ template "input" InputOpts "confirm_password" "Confirm New Password" "password" "new-password" "Re-enter your new password to confirm" }}

          {{ template "form-submit" "Change Password" }}
        </form>

        {{ template "success-message" "Your password was changed successfully." }} {{ if .opts.PasswordResetEnabled }}
        <p class="text-center">{{ template "link" (slice "/forgot-password" "Forgot Password?") }}</p>
        {{ end }}
      </main>

      {{ template "page-footer" }} {{ template "toggle-buttons" }}
    </div>

    <script type="module" defer>
      import { init } from "/static/js/app.js";

      init({
        minLength: +"{{ .opts.MinLength }}",
        minNumbers: +"{{ .opts.MinNumbers }}",
        minSymbols: +"{{ .opts.MinSymbols }}",
        minUppercase: +"{{ .opts.MinUppercase }}",
        minLowercase: +"{{ .opts.MinLowercase }}",
        passwordCanIncludeUsername: "{{ .opts.PasswordCanIncludeUsername }}" === "true"
      });
    </script>
  </body>
</html>
