<!-- prettier-ignore -->
{{ define "EyeSlashIcon" }}
<!-- heroicons eye-slash -->
<svg
  xmlns="http://www.w3.org/2000/svg"
  width="100%"
  height="100%"
  viewBox="0 0 24 24"
  class="on-content-hidden h-4 w-4"
>
  <path
    fill="none"
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="1.5"
    d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12c1.292 4.338 5.31 7.5 10.066 7.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 0 1-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"
  />
</svg>
{{ end }}

<!-- prettier-ignore -->
{{ define "EyeIcon" }}
<!-- heroicons eye -->
<svg
  xmlns="http://www.w3.org/2000/svg"
  width="100%"
  height="100%"
  viewBox="0 0 24 24"
  class="on-content-revealed hidden h-4 w-4"
>
  <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
    <path
      d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178c.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
    />
    <path d="M15 12a3 3 0 1 1-6 0a3 3 0 0 1 6 0Z" />
  </g>
</svg>
{{ end }}

<!-- prettier-ignore -->
{{ define "LoadingIcon" }}
<!-- ant-design loading-3-quaters-outlined -->
<svg
  xmlns="http://www.w3.org/2000/svg"
  width="100%"
  height="100%"
  viewBox="0 0 1024 1024"
  class="my-1 hidden h-4 w-4 animate-spin"
>
  <path
    fill="currentColor"
    d="M512 1024c-69.1 0-136.2-13.5-199.3-40.2C251.7 958 197 921 150 874c-47-47-84-101.7-109.8-162.7C13.5 648.2 0 581.1 0 512c0-19.9 16.1-36 36-36s36 16.1 36 36c0 59.4 11.6 117 34.6 171.3c22.2 52.4 53.9 99.5 94.3 139.9c40.4 40.4 87.5 72.2 139.9 94.3C395 940.4 452.6 952 512 952c59.4 0 117-11.6 171.3-34.6c52.4-22.2 99.5-53.9 139.9-94.3c40.4-40.4 72.2-87.5 94.3-139.9C940.4 629 952 571.4 952 512c0-59.4-11.6-117-34.6-171.3a440.45 440.45 0 0 0-94.3-139.9a437.71 437.71 0 0 0-139.9-94.3C629 83.6 571.4 72 512 72c-19.9 0-36-16.1-36-36s16.1-36 36-36c69.1 0 136.2 13.5 199.3 40.2C772.3 66 827 103 874 150c47 47 83.9 101.8 109.7 162.7c26.7 63.1 40.2 130.2 40.2 199.3s-13.5 136.2-40.2 199.3C958 772.3 921 827 874 874c-47 47-101.8 83.9-162.7 109.7c-63.1 26.8-130.2 40.3-199.3 40.3z"
  />
</svg>
{{ end }}

<!-- prettier-ignore -->
{{ define "input" }}
<div
  id="{{ .Name }}"
  class="space-y-[2px] reveal-button:text-white reveal-eye:block reveal-eye-slash:hidden nonreveal-eye:hidden nonreveal-eye-slash:block"
  data-revealed="false"
>
  <div
    class="flex gap-2 rounded-md border border-gray-600 bg-white bg-opacity-0 py-1 pl-3 pr-1 outline-none input-focus:border-white [&:has(input[disabled])]:bg-opacity-10"
    data-purpose="inputContainer"
  >
    <input
      type="{{ .Type }}"
      name="{{ .Name }}"
      placeholder="{{ .Placeholder }}"
      class="flex-1 bg-transparent outline-none"
    />

    {{ if eq .Type "password" }}
    <button
      type="button"
      class="flex items-center rounded-sm px-1 py-1 text-gray-500 outline-none ring-white hover:text-white focus:ring-1"
      data-purpose="reveal"
    >
      <!-- prettier-ignore -->
      {{ template "EyeSlashIcon" }}
      <!-- prettier-ignore -->
      {{ template "EyeIcon" }}
    </button>
    {{ end }}
  </div>
  <div class="text-xs text-red-500" data-purpose="errorContainer"></div>
</div>
{{ end }}

<!DOCTYPE html>
<html lang="en" class="h-full bg-black text-white">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/static/styles.css" />
  </head>

  <body class="flex min-h-full items-center justify-center p-4">
    <form class="max-w-lg space-y-4 rounded-md border border-gray-600 p-8" id="form">
      <!-- prettier-ignore -->
      {{ template "input" InputOpts "username" "Username" "text" }}
      <!-- prettier-ignore -->
      {{ template "input" InputOpts "current" "Current Password" "password" }}
      <!-- prettier-ignore -->
      {{ template "input" InputOpts "new" "New Password" "password" }}
      <!-- prettier-ignore -->
      {{ template "input" InputOpts "new2" "New Password" "password" }}

      <button
        type="submit"
        class="flex w-full items-center justify-center rounded-md border border-white bg-white px-3 py-1 font-bold text-black outline-none hover:bg-opacity-0 hover:text-white disabled:border-gray-600 disabled:bg-opacity-10 disabled:text-gray-500 disabled:hover:bg-opacity-10 disabled:hover:text-gray-500 [&[data-loading='true']>span]:hidden [&[data-loading='true']>svg]:inline-block"
        data-loading="false"
      >
        <span>Change Password</span>

        <!-- prettier-ignore -->
        {{ template "LoadingIcon" }}
      </button>

      <p class="text-xs text-gray-500">
        Powered by
        <a
          href="https://github.com/netresearch/ldap-selfservice-password-changer"
          class="break-keep hover:text-white hover:underline hover:decoration-white"
        >
          netresearch/ldap-selfservice-password-changer
        </a>
      </p>
    </form>

    <script>
      // @ts-check

      const opts = {
        minPasswordLength: +"{{ .opts.MinPasswordLength }}",
        minNumbers: +"{{ .opts.MinNumbers }}",
        minSymbols: +"{{ .opts.MinSymbols }}"
      };

      const specialCharacters = (() => {
        // Generate an array of special characters according to the ASCII table:
        // https://en.wikipedia.org/wiki/ASCII
        const specialCharacters = [];

        for (let i = "!".charCodeAt(0); i <= "/".charCodeAt(0); i++) {
          specialCharacters.push(String.fromCharCode(i));
        }

        for (let i = ":".charCodeAt(0); i <= "@".charCodeAt(0); i++) {
          specialCharacters.push(String.fromCharCode(i));
        }

        for (let i = "[".charCodeAt(0); i <= "`".charCodeAt(0); i++) {
          specialCharacters.push(String.fromCharCode(i));
        }

        for (let i = "{".charCodeAt(0); i <= "~".charCodeAt(0); i++) {
          specialCharacters.push(String.fromCharCode(i));
        }

        return specialCharacters;
      })();
      const specialCharsString = specialCharacters.join(", ");

      const pluralize = (singular, amount) => (amount === 1 ? singular : singular + "s");

      /** @type {HTMLFormElement | null} */
      const form = document.querySelector("#form");
      if (!form) throw new Error("Could not find form element");

      /** @type {HTMLButtonElement | null} */
      const submitButton = form.querySelector("button[type='submit']");
      if (!submitButton) throw new Error("Could not find submit button element");

      const mustNotBeEmpty = (v) => (v.length === 0 ? "The input must not be empty" : "");
      const mustBeLongerThan = (minLength) => (v) =>
        v.length < minLength ? `The input must be at least ${minLength} ${pluralize("character", minLength)} long` : "";
      const mustIncludeNumbers = (amount) => (v) =>
        v.split("").filter((c) => !isNaN(+c)).length < amount
          ? `The input must include at least ${amount} ${pluralize("number", amount)}`
          : "";
      const mustIncludeSymbols = (amount) => (v) =>
        v.split("").filter((c) => specialCharacters.includes(c)).length < amount
          ? `The input must include at least ${amount} ${pluralize("symbol", amount)}: ${specialCharsString}}`
          : "";

      const mustMatchNewPassword = (v) => {
        /** @type {HTMLInputElement | null} */
        const passwordInput = form.querySelector(`#new input`);
        if (!passwordInput) throw new Error("Could not find password input element");

        return passwordInput.value !== v ? "The input must match the new password" : "";
      };
      const mustNotMatchCurrentPassword = (v) => {
        /** @type {HTMLInputElement | null} */
        const passwordInput = form.querySelector(`#current input`);
        if (!passwordInput) throw new Error("Could not find password input element");

        return passwordInput.value === v ? "The input must not match the current password" : "";
      };

      const toggleValidator = (validate, enabled) => (v) => enabled ? validate(v) : "";

      /**
       * @typedef {[string, ((v: string) => string)[]]} Field
       */

      /** @type {Field[]} */
      const fieldsWithValidators = [
        ["username", [mustNotBeEmpty]],
        ["current", [mustNotBeEmpty]],
        [
          "new",
          [
            mustNotBeEmpty,
            mustBeLongerThan(opts.minPasswordLength),
            mustNotMatchCurrentPassword,
            toggleValidator(mustIncludeNumbers(opts.minNumbers), opts.minNumbers > 0),
            toggleValidator(mustIncludeSymbols(opts.minSymbols), opts.minSymbols > 0)
          ]
        ],
        ["new2", [mustNotBeEmpty, mustMatchNewPassword]]
      ];

      const fields = fieldsWithValidators.map(([name, validators]) => {
        /** @type {HTMLDivElement | null} */
        const f = form.querySelector(`#${name}`);
        if (!f) throw new Error(`Field "${name}" does not exist`);

        /** @type {HTMLDivElement | null} */
        const inputContainer = f.querySelector('div[data-purpose="inputContainer"]');
        if (!inputContainer) throw new Error(`Input container for "${name}" does not exist`);

        /** @type {HTMLInputElement | null} */
        const input = inputContainer.querySelector("input");
        if (!input) throw new Error(`Input for "${name}" does not exist`);

        /** @type {HTMLButtonElement | null} */
        const revealButton = inputContainer.querySelector('button[data-purpose="reveal"]');
        if (!revealButton && input.type === "password") throw new Error(`Reveal button for "${name}" does not exist`);

        /** @type {HTMLDivElement | null} */
        const errorContainer = f.querySelector('div[data-purpose="errorContainer"]');
        if (!errorContainer) throw new Error(`Error for "${name}" does not exist`);

        const getValue = () => input.value;
        const setErrors = (errors) => {
          errorContainer.innerHTML = "";

          if (errors.length > 0) {
            inputContainer.classList.add("border-red-500");
          } else {
            inputContainer.classList.remove("border-red-500");
          }

          for (const error of errors) {
            const el = document.createElement("p");
            el.innerText = error;

            errorContainer.appendChild(el);
          }
        };

        const validate = () => {
          const value = getValue();

          const errors = validators
            .map((validate) => validate(value))
            .reduce((/** @type {string[]} */ acc, v) => {
              if (v.length > 0) acc.push(v);

              return acc;
            }, []);

          console.log(`Validated "${name}": ${errors.length} error(s)`);

          setErrors(errors);

          return errors.length > 0;
        };

        if (revealButton) {
          revealButton.onclick = (e) => {
            e.preventDefault();
            e.stopPropagation();

            const newType = input.type === "password" ? "text" : "password";
            const revealed = newType === "text";

            console.log(`${revealed ? "Showing" : "Hiding"} content of "${name}"`);

            input.type = newType;
            f.dataset.revealed = revealed.toString();
          };
        }

        return { input, errorContainer, getValue, validate };
      });

      form.onsubmit = async (e) => {
        e.preventDefault();
        e.stopPropagation();

        const [username, oldPassword, newPassword] = fields.map((f) => f.getValue());

        const hasErrors = fields.map(({ validate }) => validate()).some((e) => e === true);
        submitButton.disabled = hasErrors;
        if (hasErrors) return;

        console.log("Changing password...");
        [submitButton, ...fields.map(({ input }) => input)].forEach((el) => (el.disabled = true));
        submitButton.dataset.loading = "true";

        try {
          const res = await fetch("/api/rpc", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              method: "change-password",
              params: [username, oldPassword, newPassword]
            })
          });

          const body = await res.text();

          if (!res.ok) {
            let err = body;

            try {
              const parsed = JSON.parse(body);

              err = parsed.data[0];
            } catch (e) {}

            throw new Error(`An error occurred: ${err}`);
          }

          console.log("Changed successfully");
        } catch (e) {
          console.log(e);
        }
      };

      form.onchange = (e) => {
        e.stopPropagation();

        const hasErrors = fields.map(({ validate }) => validate()).some((e) => e === true);
        submitButton.disabled = hasErrors;
      };
    </script>
  </body>
</html>
