<!doctype html>
<html lang="en" class="page-html">
  <head>
    <title>Reset Password — GopherPass</title>
    {{ template "html-head" }} {{ template "theme-init-script" }} {{ template "density-init-script" }}
    <link rel="modulepreload" href="/static/js/reset-password.js" crossorigin="anonymous" />
  </head>

  <body class="page-body">
    <div class="page-card" data-density="comfortable">
      {{ template "page-header" }}

      <main role="main">
        {{ template "page-title" (slice "Reset Password" "Enter your new password below." "Password Reset Form") }}

        <form class="space-y-4" id="form" aria-label="Password reset form" autocomplete="on">
          <!-- prettier-ignore -->
          {{ template "input" InputOpts "new_password" "New Password" "password" "new-password" "Your new password must be strong and meet all security requirements" }}
          <!-- prettier-ignore -->
          {{ template "input" InputOpts "confirm_password" "Confirm New Password" "password" "new-password" "Re-enter your new password to confirm" }}

          {{ template "form-submit" "Reset Password" }}
        </form>

        {{ template "success-message" "Your password has been reset. You can now login." }}

        <div class="comfortable:mt-6 compact:mt-4">{{ template "button-secondary" (slice "/" "Back to Login") }}</div>
      </main>

      {{ template "page-footer" }} {{ template "toggle-buttons" }}
    </div>

    <script type="module" defer>
      import { init } from "/static/js/reset-password.js";

      init({
        minLength: Number("{{ .opts.MinLength }}"),
        minNumbers: Number("{{ .opts.MinNumbers }}"),
        minSymbols: Number("{{ .opts.MinSymbols }}"),
        minUppercase: Number("{{ .opts.MinUppercase }}"),
        minLowercase: Number("{{ .opts.MinLowercase }}")
      });
    </script>
  </body>
</html>
