<!doctype html>
<html lang="en" class="page-html">
  <head>
    <title>Reset Password - LDAP Password Changer</title>
    {{ template "html-head" }} {{ template "theme-init-script" }} {{ template "density-init-script" }}
    <link rel="modulepreload" href="/static/js/reset-password.js" crossorigin="anonymous" />
  </head>

  <body class="page-body">
    <div class="page-card" data-density="comfortable">
      {{ template "page-header" }}

      <main role="main">
        {{ template "page-title" (slice "Reset Password" "Enter your new password below." "Password Reset Form") }}

        <form class="space-y-4" id="form" aria-label="Password reset form">
          <!-- prettier-ignore -->
          {{ template "input" InputOpts "new_password" "New Password" "password" "new-password" "Your new password must be strong and meet all security requirements" }}
          <!-- prettier-ignore -->
          {{ template "input" InputOpts "confirm_password" "Confirm New Password" "password" "new-password" "Re-enter your new password to confirm" }}

          {{ template "form-submit" "Reset Password" }}
        </form>

        {{ template "success-message" "Password reset successfully. You can now login." }}

        <p class="text-center">{{ template "link" (slice "/" "Return to Login") }}</p>
      </main>

      {{ template "page-footer" }} {{ template "toggle-buttons" }}
    </div>

    <script type="module" defer>
      import { init } from "/static/js/reset-password.js";

      init({
        minLength: +"{{ .opts.MinLength }}",
        minNumbers: +"{{ .opts.MinNumbers }}",
        minSymbols: +"{{ .opts.MinSymbols }}",
        minUppercase: +"{{ .opts.MinUppercase }}",
        minLowercase: +"{{ .opts.MinLowercase }}"
      });
    </script>
  </body>
</html>
